@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 90px 20px 90px 20px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    color: #fff;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #c5c5c53f;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.checkbox {
    width: 11px;
    height: 11px;
}

.remerber-forgot-senha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -15px 0 15px;
}

.remerber-forgot-senha label input {
    accent-color: rgba(255, 255, 255, .2);
    margin-right: 7px;
}

.remerber-forgot-senha a {
    color: #fff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.login {
    width: 100%;
    height: 50px;
    background: linear-gradient(80deg, #000000, #0202f891, #000000);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    margin-top: 20px;

    &:hover {
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        color: #fff;
        transition: all 0.3s ease;
        filter: brightness(1.8);
    }
}

.link-register {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.link-register a {
    text-decoration: none;
    color: #cacacac9;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 80%;
        height: auto;
        padding: 20px;
    }

    .container h1 {
        font-size: 28px;
    }
    
}




