@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c0ce94d;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.form-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030357c2;
    padding: 1rem;
}

.form-img img {
    width: 150vh;
}

.form {
    width: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #030357c2;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #030357b2;
    }
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 9.5rem;
    height: 0.3rem;
    background-color: #0202f891;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    font-size: 13px;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input::placeholder {
    font-size: 13px;
    color: #5c5c5c9d;
}

.input-box input:focus-visible {
    outline: 1px solid #0202f891;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #010135dc;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0.05rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #5c5c5c9d;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #030357c2;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #030357b2;
    }
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-img {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        display: flex;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;  
    }

    .form-header h1::after {
        position: sticky;
        margin-left: 0;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: 70vh;
    }

    .input-group {
        flex-direction: column;
        flex-wrap: nowrap;
        padding-right: 4.4rem;
    }
    .gender-inputs {
        margin-top: 0;
    }
    .gender-group {
        flex-direction: column;;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}
























